
; Default touch controls. Whitespace and comments are allowed here.

; The positions don't need to be in any order, but the ID (i.e. WIDGET_POSITION_HOME)
; must be present so the game can know what widget you are talking about.

; Positions for the widgets (in 640x448 space): Format is OriginX, OriginY, ScaleX, ScaleY 
;                                                      or OriginX, OriginY, SCALE (for round buttons).



; On Foot 

PositionAndScale 537, 216, SCALE_SMALL 	    ; WIDGET_POSITION_PHONE                                                 //VGD EDIT - Was PositionAndScale 613, 150, SCALE_SMAL

PositionAndScale 537, 330, SCALE_SMALL 	    ; WIDGET_POSITION_VC_SHOOT                                              //VGD EDIT - was PositionAndScale 554, 317, SCALE_MEDIUM
PositionAndScale 585, 273, SCALE_SMALL 	    ; WIDGET_POSITION_ENTER_CAR                                             //VGD EDIT - was PositionAndScale 606, 252, SCALE_MEDIUM
PositionAndScale 45,  273, SCALE_SMALL  	; WIDGET_POSITION_VC_SHOOT_ALT                                          //VGD EDIT - was PositionAndScale 33,  248, SCALE_MEDIUM
PositionAndScale 585, 34,  SCALE_SMALL   	; WIDGET_POSITION_SKIP_CUTSCENE
PositionAndScale 585, 387, SCALE_SMALL   	; WIDGET_POSITION_RESUME_CUTSCENE
PositionAndScale 29,  100, SCALE_MEDIUM 	; WIDGET_POSITION_MISSION_CANCEL_ALT
PositionAndScale 585, 330, SCALE_SMALL 	    ; WIDGET_POSITION_TARGETING_AND_ATTACK                                  //VGD EDIT - Was SCALE_MEDIUM
PositionAndScale 537, 216, SCALE_SMALL	    ; WIDGET_POSITION_MISSION_START_AND_MISSION_CANCEL                      //VGD EDIT - PositionAndScale 150, 50, Was SCALE_MEDIUM

PositionAndScale 585, 387, SCALE_SMALL  	; WIDGET_POSITION_BUTTON_SPRINT_AND_SWIM                                //VGD EDIT - Was PositionAndScale 601, 387, SCALE_LARGE


; In Vehicle

PositionAndScale 537, 216, SCALE_SMALL 	; WIDGET_POSITION_HORN                                                      //VGD EDIT - Was PositionAndScale 575, 197, SCALE_SMALL 
PositionAndScale 618, 42,  SCALE_SMALL 	; WIDGET_POSITION_HORN_ALT
PositionAndScale 585, 216, SCALE_SMALL 	; WIDGET_POSITION_CAM_TOGGLE                                                //VGD EDIT - PositionAndScale 613, 197, SCALE_SMALL

PositionAndScale 537, 330, SCALE_SMALL 	; WIDGET_POSITION_CAR_SHOOT                                                 //VGD EDIT - Was PositionAndScale 554, 317, SCALE_MEDIUM 

PositionAndScale 42,  197, SCALE_SMALL	; WIDGET_POSITION_VEHICLE_SHOOT_LEFT                                        //VGD EDIT - Was PositionAndScale 42,  197, SCALE_MEDIUM
PositionAndScale 94,  197, SCALE_SMALL	; WIDGET_POSITION_VEHICLE_SHOOT_RIGHT                                       //VGD EDIT - Was PositionAndScale 94,  197, SCALE_MEDIUM

PositionAndScale 585, 330, SCALE_SMALL	; WIDGET_POSITION_HANDBRAKE_AND_AIR_SHOOT                                   //VGD EDIT - Was PositionAndScale 606, 317, SCALE_MEDIUM 
PositionAndScale 537, 273, SCALE_SMALL 	; WIDGET_POSITION_HYDRAULICS                                                //VGD EDIT - Was PositionAndScale 554, 252, SCALE_MEDIUM 

PositionAndScale 537, 387, SCALE_SMALL	    ; WIDGET_POSITION_BRAKE                                                 //VGD EDIT - Was PositionAndScale 540, 387, SCALE_LARGE
PositionAndScale 585, 387, SCALE_SMALL 	    ; WIDGET_POSITION_ACCELERATE                                            //VGD EDIT - Was PositionAndScale 601, 387, SCALE_LARGE 
PositionAndScale 45,  387, SCALE_SMALL   	; WIDGET_POSITION_VEHICLE_STEER_LEFT                                    //VGD EDIT - Was PositionAndScale 38,  387, SCALE_SMALL
PositionAndScale 103,  387, SCALE_SMALL 	; WIDGET_POSITION_VEHICLE_STEER_RIGHT                               //VGD EDIT - Was PositionAndScale 99,  387, SCALE_SMALL
		

		

; Misc				
PositionAndScale 80, 238, 80, 80            ; WIDGET_POSITION_THUMB_CIRCLE
PositionAndScale 35, 285, 14, 65   	        ; WIDGET_POSITION_TAP_METER
PositionAndScale 35, 405, SCALE_MEDIUM    	; WIDGET_POSITION_TAP_METER_BUTTON 

PositionAndScale 240, 424, SCALE_SMALL 		; WIDGET_POSITION_NEGATIVE
PositionAndScale 390, 424, SCALE_SMALL		; WIDGET_POSITION_POSITIVE

PositionAndScale 565, 385, 45, 40  	    	; WIDGET_POSITION_POOL_ENGLISH

PositionAndScale 565, 425,  25,  25   		; WIDGET_POSITION_ARCADE_BUTTON
PositionAndScale 287, 420,  30,  30    	    ; WIDGET_POSITION_ARCADE_POWER_OFF
PositionAndScale 353, 420,  30,  30     	; WIDGET_POSITION_ARCADE_RESET
PositionAndScale 80, 397,  80,  60    	    ; WIDGET_POSITION_ARCADE_JOYSTICK

PositionAndScale 45,  387, SCALE_SMALL  	; WIDGET_POSITION_RACE_LEFT                                             //VGD EDIT - was PositionAndScale 26,  230, SCALE_MEDIUM 
PositionAndScale 103,  387, SCALE_SMALL  	; WIDGET_POSITION_RACE_RIGHT                                            //VGD EDIT - was PositionAndScale 614, 230, SCALE_MEDIUM

PositionAndScale 585, 387, SCALE_SMALL  	; WIDGET_POSITION_STORE_ACCEPT                                          //VGD EDIT - WAs PositionAndScale 565, 415, SCALE_SMALL //Accel
PositionAndScale 585, 273, SCALE_SMALL  	; WIDGET_POSITION_STORE_CANCEL                                          //VGD EDIT - Was PositionAndScale 605, 415, SCALE_SMALL  //Enter car
PositionAndScale 585, 387, SCALE_SMALL  	; WIDGET_POSITION_STORE_BUY                                             //VGD EDIT - Was PositionAndScale 565, 415, SCALE_SMALL  //Accel

PositionAndScale 320, 220, 160, 160 		; WIDGET_POSITION_STEERING_SELECTION
PositionAndScale 320, 220, 140, 120 		; WIDGET_POSITION_TOUCH_LAYOUT_SELECTION

PositionAndScale 275, 387, 35, 35      		; WIDGET_POSITION_SCHOOL_EXIT

PositionAndScale 585, 387, SCALE_SMALL     ; WIDGET_POSITION_SCHOOL_CONTINUE                                       //VGD EDIT - Was PositionAndScale 607, 410, SCALE_MEDIUM  //ACcel

PositionAndScale 445, 388, 9, 9			    ; WIDGET_POSITION_SCHOOL_LEFT
PositionAndScale 475, 388, 9, 9		  		; WIDGET_POSITION_SCHOOL_RIGHT
PositionAndScale 180, 387, 35, 35       	; WIDGET_POSITION_SCHOOL_START

PositionAndScale 320, 80,  220, 44			; WIDGET_POSITION_SCHOOL_TITLE_BACKGROUND

PositionAndScale 320, 145, 119, 50			; WIDGET_POSITION_SCHOOL_AWARD
PositionAndScale 320, 160, 119, 35			; WIDGET_POSITION_SCHOOL_RESULTS
PositionAndScale 320, 211, 119, 15			; WIDGET_POSITION_SCHOOL_FRAME_ONE
PositionAndScale 320, 242, 119, 15			; WIDGET_POSITION_SCHOOL_FRAME_TWO
PositionAndScale 320, 273, 119, 15			; WIDGET_POSITION_SCHOOL_FRAME_THREE
PositionAndScale 320, 304, 119, 15			; WIDGET_POSITION_SCHOOL_FRAME_FOUR

PositionAndScale 537, 330, SCALE_SMALL  	; WIDGET_POSITION_BASKETBALL_TRICK                                  //VGD EDIT- was PositionAndScale 520, 320, SCALE_MEDIUM //Vehicle shoot
PositionAndScale 585, 330, SCALE_SMALL  	; WIDGET_POSITION_BASKETBALL_SHOOT                                  //VGD EDIT - was PositionAndScale 575, 320, SCALE_MEDIUM //hand brake

PositionAndScale 345, 350, 150, 75      	; WIDGET_POSITION_BLACK_JACK_REGION
PositionAndScale 330, 400, 120, 20      	; WIDGET_POSITION_BLACK_JACK_SLIDER

PositionAndScale 560, 345, SCALE_MEDIUM  	; WIDGET_POSITION_RHYTHM_UP
PositionAndScale 560, 409, SCALE_MEDIUM  	; WIDGET_POSITION_RHYTHM_DOWN
PositionAndScale 512, 377, SCALE_MEDIUM  	; WIDGET_POSITION_RHYTHM_LEFT
PositionAndScale 607, 377, SCALE_MEDIUM  	; WIDGET_POSITION_RHYTHM_RIGHT

PositionAndScale 320, 224, SCALE_LARGE  	; WIDGET_POSITION_RHYTHM_SELECT
PositionAndScale 611, 295, 20, 20     		; WIDGET_POSITION_RHYTHM_EXIT

PositionAndScale 90, 18, 81, 13				; WIDGET_POSITION_PLAYER_SCORE
PositionAndScale 550, 18, 81, 13			; WIDGET_POSITION_OPPOSITION_SCORE

PositionAndScale 440, 57, 35, 35			; WIDGET_POSITION_GANG_REGION

PositionAndScale 160, 224, 140, 140			; WIDGET_POSITION_COLOR_PICKER

PositionAndScale 232, 210, 38, 38  			; WIDGET_POSITION_WOF_FIRST_BET 
PositionAndScale 348, 158, 32, 32  			; WIDGET_POSITION_WOF_SECOND_BET
PositionAndScale 436, 115,  28, 28  		; WIDGET_POSITION_WOF_THIRD_BET 
PositionAndScale 280, 322, 43, 43  			; WIDGET_POSITION_WOF_FOURTH_BET
PositionAndScale 403, 247, 37, 37  			; WIDGET_POSITION_WOF_FIFTH_BET 
PositionAndScale 504, 186, 33, 33  			; WIDGET_POSITION_WOF_SIXTH_BET 

PositionAndScale 406 410, 25, 25  			; WIDGET_POSITION_VIDEO_POKER_ADD_COIN
PositionAndScale 218, 410, 25, 25  			; WIDGET_POSITION_VIDEO_POKER_REMOVE_COIN

PositionAndScale 100, 353, 47, 24			; WIDGET_POSITION_VIDEO_POKER_HOLD_FIRST_CARD
PositionAndScale 210, 353, 47, 24  			; WIDGET_POSITION_VIDEO_POKER_HOLD_SECOND_CARD
PositionAndScale 320, 353, 47, 24  			; WIDGET_POSITION_VIDEO_POKER_HOLD_THIRD_CARD
PositionAndScale 430, 353, 47, 24  			; WIDGET_POSITION_VIDEO_POKER_HOLD_FOURTH_CARD
PositionAndScale 540, 353, 47, 24  			; WIDGET_POSITION_VIDEO_POKER_HOLD_FIFTH_CARD

PositionAndScale 100, 255, 47, 64			; WIDGET_POSITION_VIDEO_POKER_HOLD_FIRST_CARD_REGION
PositionAndScale 210, 255, 47, 64  			; WIDGET_POSITION_VIDEO_POKER_HOLD_SECOND_CARD_REGION
PositionAndScale 320, 255, 47, 64 			; WIDGET_POSITION_VIDEO_POKER_HOLD_THIRD_CARD_REGION
PositionAndScale 430, 255, 47, 64  			; WIDGET_POSITION_VIDEO_POKER_HOLD_FOURTH_CARD_REGION
PositionAndScale 540, 255, 47, 64 			; WIDGET_POSITION_VIDEO_POKER_HOLD_FIFTH_CARD_REGION

PositionAndScale 490, 413, 40, 40  			; WIDGET_POSITION_VIDEO_POKER_EXIT
PositionAndScale 580, 413, 50, 40  			; WIDGET_POSITION_VIDEO_POKER_DEAL


PositionAndScale 225, 164, 170, 24  		; WIDGET_POSITION_ITB_FIRST_HORSE
PositionAndScale 225, 214, 170, 24 			; WIDGET_POSITION_ITB_SECOND_HORSE
PositionAndScale 225, 264, 170, 24 			; WIDGET_POSITION_ITB_THIRD_HORSE
PositionAndScale 225, 314, 170, 24 			; WIDGET_POSITION_ITB_FOURTH_HORSE
PositionAndScale 225, 364, 170, 24 			; WIDGET_POSITION_ITB_FIFTH_HORSE
PositionAndScale 448, 200, 36, 18 			; WIDGET_POSITION_ITB_FIRST_BET
PositionAndScale 530, 200, 36, 18 			; WIDGET_POSITION_ITB_SECOND_BET
PositionAndScale 448, 240, 36, 18 			; WIDGET_POSITION_ITB_THIRD_BET
PositionAndScale 530, 240, 36, 18 			; WIDGET_POSITION_ITB_FOURTH_BET
PositionAndScale 448, 280, 36, 18 			; WIDGET_POSITION_ITB_FIFTH_BET
PositionAndScale 530, 280, 36, 18 			; WIDGET_POSITION_ITB_SIXTH_BET
PositionAndScale 448, 320, 36, 18 			; WIDGET_POSITION_ITB_SEVENTH_BET
PositionAndScale 530, 320, 36, 18 			; WIDGET_POSITION_ITB_EIGHTH_BET
PositionAndScale 488, 363, 80, 18 			; WIDGET_POSITION_ITB_PLACE_BET
PositionAndScale 320, 430, 28, 28 			; WIDGET_POSITION_ITB_EXIT


PositionAndScale 320, 224, 260, 164  		; WIDGET_POSITION_MAP

PositionAndScale 575, 398, 65, 50	 		; WIDGET_POSITION_ADAPTED_DRIVE 


PositionAndScale 540, 75, 70,  40    		; WIDGET_POSITION_PLAYER_INFO                       //VGD: EDIT - WAs PositionAndScale 560, 60, 70,  40 
PositionAndScale 75,  75, 44,  44    		; WIDGET_POSITION_RADAR                             //VGD EDIT - Was PositionAndScale 50,  60, 44,  44 

PositionAndScale 205, 75, 65, 60    		; WIDGET_POSITION_HELP_TEXT                         //VGD EDIT - was PositionAndScale 214, 40, 100, 30

PositionAndScale 320, 65, 90, 50   		    ; WIDGET_POSITION_HELP_TEXT_ALT_SHOPS

PositionAndScale 130, 433, 130, 15   		; WIDGET_POSITION_SWIPE_RADIO
PositionAndScale 90,  224, 90,  448   		; WIDGET_POSITION_PED_MOVE

PositionAndScale 90,  358, 90,  90   		; WIDGET_POSITION_VEHICLE_FLICK
        
PositionAndScale 320, 224, 320, 224  		; WIDGET_POSITION_LOOK

PositionAndScale 320, 48, 70, 25  			; WIDGET_POSITION_MISSION_TIMERS
PositionAndScale 320, 58, 60, 35  			; WIDGET_POSITION_RACING
PositionAndScale 320, 200, 115, 95 		    ; WIDGET_POSITION_RACE_RESULTS
PositionAndScale 320, 200, 100, 95  		; WIDGET_POSITION_HORSE_RESULTS
PositionAndScale 90, 340, 60, 80 			; WIDGET_POSITION_WAGER
PositionAndScale 100, 36, 90, 26 			; WIDGET_POSITION_POOL

PositionAndScale 320, 210, 80, 14  			; WIDGET_POSITION_POKER_PAYOUT

PositionAndScale 320, 85, 80, 60  			; WIDGET_POSITION_VITAL_STATS

PositionAndScale 213, 242, 100, 15  		; WIDGET_POSITION_AIRPORT_LEFT
PositionAndScale 423, 242, 100, 15  		; WIDGET_POSITION_AIRPORT_RIGHT

; Gambling

PositionAndScale 585, 330, SCALE_SMALL  	; WIDGET_POSITION_PLACE_BET                                 //VGD EDIT - Was PositionAndScale 605, 340, SCALE_MEDIUM        //handbrake
PositionAndScale 537, 330, SCALE_SMALL  	; WIDGET_POSITION_REMOVE_BET                                //VGD EDIT - was PositionAndScale 550, 340, SCALE_MEDIUM        //vehicle shoot
PositionAndScale 585, 387, SCALE_SMALL  	; WIDGET_POSITION_GAMBLING_CONTINUE                         //VGD EDIT - was PositionAndScale 605, 410, SCALE_MEDIUM        //accel
PositionAndScale 585, 273, SCALE_SMALL  	; WIDGET_POSITION_MINIGAME_CANCEL                           //VGD EDIT - was PositionAndScale 613, 140, SCALE_SMAL          //enter car

PositionAndScale 537, 330, SCALE_SMALL 	    ; WIDGET_POSITION_BLACK_JACK_SPLIT                          //VGD EDIT - was PositionAndScale 550, 340, SCALE_MEDIUM        //vechilc shoot
PositionAndScale 537, 387, SCALE_SMALL 	    ; WIDGET_POSITION_BLACK_JACK_DOUBLE                         //VGD EDIT - was PositionAndScale 550, 410, SCALE_MEDIUM        //brake
PositionAndScale 585, 387, SCALE_SMALL 	    ; WIDGET_POSITION_BLACK_JACK_HIT                            //VGD EDIT - Was PositionAndScale 605, 410, SCALE_MEDIUM        //accel
PositionAndScale 585, 330, SCALE_SMALL   	; WIDGET_POSITION_BLACK_JACK_STAND                          //VGD EDIT - was PositionAndScale 605, 340, SCALE_MEDIUM        handbrake

PositionAndScale 615, 190, 120, 105			; WIDGET_POSITION_TATTOO_PREVIEW

PositionAndScale 320, 414, 80, 12			; WIDGET_POSITION_SAVE_NOTIFICATION

PositionAndScale 475, 50, 9,  9    		; WIDGET_POSITION_REPLAY

PositionAndScale 70,  200, 60,  30           ; WIDGET_POSITION_PAGER
PositionAndScale 601, 395,  15,  15  		; WIDGET_POSITION_ACCELERATE_BRAKE
PositionAndScale 150,  60, 50,  50     		; WIDGET_POSITION_CYCLE_LAYOUT
PositionAndScale 606, 387, 10,  10     		; WIDGET_POSITION_COMBINED_HANDBRAKE
PositionAndScale 100, 317, 35,  25     		; WIDGET_POSITION_STEERING_WHEEL

PositionAndScale 606, 387, SCALE_SMALL		; WIDGET_POSITION_ROUND2_HANDBRAKE
PositionAndScale 500, 317, 105, 90			; WIDGET_POSITION_ROUND2_RIGHT_HAND_ACCEL
PositionAndScale 550, 300, 15,  100     	; WIDGET_POSITION_ACCELERATE_BRAKE_SLIDER

PositionAndScale 325, 224, 80, 80 			; WIDGET_POSITION_HORN_REGION
PositionAndScale 525, 387, SCALE_LARGE  	; WIDGET_POSITION_RESUME_TEXT

; VGD

PositionAndScale 78,  273, SCALE_SMALLER	; WIDGET_POSITION_SWIPE_DIRECTION                                               //VGD EDIT - Was PositionAndScale 78,  225, SCALE_MEDIUM	
PositionAndScale 585, 216, SCALE_SMALL 	    ; WIDGET_POSITION_OPEN_WEAPON_WHEEL
PositionAndScale 585, 216, SCALE_SMALL 	    ; WIDGET_POSITION_OPEN_RADIO_WHEEL