
; Default touch controls. Whitespace and comments are allowed here.

; The positions don't need to be in any order, but the ID (i.e. WIDGET_POSITION_HOME)
; must be present so the game can know what widget you are talking about.

; Positions for the widgets (in 640x448 space): Format is OriginX, OriginY, ScaleX, ScaleY 
;                                                      or OriginX, OriginY, SCALE (for round buttons).



; On Foot

PositionAndScale 539, 255, SCALE_SMALL	    ; WIDGET_POSITION_PHONE                                         //VGD EDIT - Was PositionAndScale 612, 163, SCALE_SMALL 
PositionAndScale 592, 345, SCALE_SMALL 	    ; WIDGET_POSITION_TARGETING_AND_ATTACK                          //VGD EDIT - Was PositionAndScale 605, 335, SCALE_MEDIUM 
PositionAndScale 539, 345, SCALE_SMALL 	    ; WIDGET_POSITION_VC_SHOOT                                      //VGD EDIT - PositionAndScale 553, 335, SCALE_MEDIUM
PositionAndScale 592, 300, SCALE_SMALL 	    ; WIDGET_POSITION_ENTER_CAR                                     //VGD EDIT - Was PositionAndScale 605, 284,SCALE_MEDIUM 
PositionAndScale 42,  255, SCALE_SMALL 	    ; WIDGET_POSITION_VC_SHOOT_ALT                                  //VGD EDIT - Was PositionAndScale 32,  228, SCALE_MEDIUM
PositionAndScale 592, 27,  SCALE_MEDIUM 	; WIDGET_POSITION_SKIP_CUTSCENE
PositionAndScale 592, 390, SCALE_SMALL   	; WIDGET_POSITION_RESUME_CUTSCENE
PositionAndScale 29,  100, SCALE_MEDIUM 	; WIDGET_POSITION_MISSION_CANCEL_ALT
PositionAndScale 539, 255, SCALE_SMALL 	; WIDGET_POSITION_MISSION_START_AND_MISSION_CANCEL              //VGD EDIT - Was PositionAndScale 150, 50,  SCALE_MEDIUM 

PositionAndScale 592, 390, SCALE_SMALL  	; WIDGET_POSITION_BUTTON_SPRINT_AND_SWIM


; In Vehicle

PositionAndScale 592, 235, SCALE_SMALL  	; WIDGET_POSITION_HORN                                          //VGD EDIT - Was PositionAndScale 612, 202, SCALE_SMALL
PositionAndScale 618, 42,  SCALE_SMALL  	; WIDGET_POSITION_HORN_ALT
PositionAndScale 592, 255, SCALE_SMALL  	; WIDGET_POSITION_CAM_TOGGLE                                    //VGD EDIT - Was PositionAndScale 612, 240, SCALE_SMALL 

PositionAndScale 539, 345, SCALE_SMALL 	    ; WIDGET_POSITION_CAR_SHOOT                                     //VGD EDIT - Was PositionAndScale 552, 335, SCALE_MEDIUM 
PositionAndScale 42,  235, SCALE_SMALL	    ; WIDGET_POSITION_VEHICLE_SHOOT_LEFT                            //VGD EDIT - Was PositionAndScale 42,  240, SCALE_MEDIUM	
PositionAndScale 96,  235, SCALE_SMALL	    ; WIDGET_POSITION_VEHICLE_SHOOT_RIGHT                           //VGD EDIT - Was PositionAndScale 96,  240, SCALE_MEDIUM	

PositionAndScale 592, 345, SCALE_SMALL 	    ; WIDGET_POSITION_HANDBRAKE_AND_AIR_SHOOT                       //VGD EDIT - WAs PositionAndScale 605, 335, SCALE_MEDIUM 
PositionAndScale 539, 300, SCALE_SMALL 	    ; WIDGET_POSITION_HYDRAULICS                                    //VGD EDIT - Was  PositionAndScale 552, 284, SCALE_MEDIUM 

PositionAndScale 42,  390, SCALE_SMALL  	; WIDGET_POSITION_VEHICLE_STEER_LEFT                            //VGD EDIT - Was PositionAndScale 38,  390, SCALE_LARGE
PositionAndScale 106, 390, SCALE_SMALL  	; WIDGET_POSITION_VEHICLE_STEER_RIGHT                           //VGD EDIT - Was PositionAndScale 100, 390, SCALE_LARGE
PositionAndScale 592, 390, SCALE_SMALL  	; WIDGET_POSITION_ACCELERATE                                    //VGD EDIT - Was PositionAndScale 601, 390, SCALE_LARGE 
PositionAndScale 539, 390, SCALE_SMALL  	; WIDGET_POSITION_BRAKE                                         //VGD EDIT - Was PositionAndScale 539, 390, SCALE_LARGE 

								

; Misc
PositionAndScale 100, 235, 90, 90           ; WIDGET_POSITION_THUMB_CIRCLE
PositionAndScale 35, 315, 14, 65   	        ; WIDGET_POSITION_TAP_METER
PositionAndScale 35, 405, SCALE_MEDIUM    	; WIDGET_POSITION_TAP_METER_BUTTON 

PositionAndScale 565, 385, 45, 40  	    	; WIDGET_POSITION_POOL_ENGLISH 

PositionAndScale 565, 425,  25,  25   		; WIDGET_POSITION_ARCADE_BUTTON
PositionAndScale 287, 420,  30,  30    	    ; WIDGET_POSITION_ARCADE_POWER_OFF
PositionAndScale 353, 420,  30,  30     	; WIDGET_POSITION_ARCADE_RESET
PositionAndScale 80, 397,  80,  60    	    ; WIDGET_POSITION_ARCADE_JOYSTICK


PositionAndScale 42,  390, SCALE_SMALL  	; WIDGET_POSITION_RACE_LEFT           //VGD EDIT - Was PositionAndScale 26,  230, SCALE_MEDIUM
PositionAndScale 106, 390, SCALE_SMALL 	; WIDGET_POSITION_RACE_RIGHT          //VGD EDIT - was PositionAndScale 614, 230, SCALE_MEDIUM 

PositionAndScale 592, 390, SCALE_SMALL 	    ; WIDGET_POSITION_STORE_ACCEPT                                  //VGD EDIT - Was PositionAndScale 547, 415, SCALE_MEDIUM        //Accel
PositionAndScale 592, 300, SCALE_SMALL 	    ; WIDGET_POSITION_STORE_CANCEL                                  //VGD EDIT - Was PositionAndScale 600, 415, SCALE_MEDIUM        //enter car
PositionAndScale 592, 390, SCALE_SMALL 	    ; WIDGET_POSITION_STORE_BUY                                     //VGD EDIT - Was PositionAndScale 547, 415, SCALE_MEDIUM        //Accel

PositionAndScale 320, 220, 185, 160 		; WIDGET_POSITION_STEERING_SELECTION
PositionAndScale 320, 220, 180, 120 		; WIDGET_POSITION_TOUCH_LAYOUT_SELECTION

PositionAndScale 275, 387, 35, 35      		; WIDGET_POSITION_SCHOOL_EXIT

PositionAndScale 592, 390, SCALE_SMALL     ; WIDGET_POSITION_SCHOOL_CONTINUE                                //VGD EDIT - was PositionAndScale 592, 415, SCALE_SMALL         //ACcel

PositionAndScale 445, 388, 10, 12 			; WIDGET_POSITION_SCHOOL_LEFT
PositionAndScale 475, 388, 10, 12		  	; WIDGET_POSITION_SCHOOL_RIGHT
PositionAndScale 180, 387, 35, 35       	; WIDGET_POSITION_SCHOOL_START

PositionAndScale 320, 80,  300, 44			; WIDGET_POSITION_SCHOOL_TITLE_BACKGROUND

PositionAndScale 320, 145, 119, 50			; WIDGET_POSITION_SCHOOL_AWARD
PositionAndScale 320, 160, 119, 35			; WIDGET_POSITION_SCHOOL_RESULTS
PositionAndScale 320, 211, 119, 15			; WIDGET_POSITION_SCHOOL_FRAME_ONE
PositionAndScale 320, 242, 119, 15			; WIDGET_POSITION_SCHOOL_FRAME_TWO
PositionAndScale 320, 273, 119, 15			; WIDGET_POSITION_SCHOOL_FRAME_THREE
PositionAndScale 320, 304, 119, 15			; WIDGET_POSITION_SCHOOL_FRAME_FOUR

PositionAndScale 539, 345, SCALE_SMALL 	    ; WIDGET_POSITION_BASKETBALL_TRICK                          //VGD EDIT - was PositionAndScale 520, 320, SCALE_MEDIUM           //Vehicle shoot
PositionAndScale 592, 345, SCALE_SMALL  	; WIDGET_POSITION_BASKETBALL_SHOOT                          //VGD EDIT - was  PositionAndScale 575, 320, SCALE_MEDIUM          //handbrake

PositionAndScale 345, 350, 150, 85      	; WIDGET_POSITION_BLACK_JACK_REGION
PositionAndScale 330, 400, 120, 20      	; WIDGET_POSITION_BLACK_JACK_SLIDER

PositionAndScale 560, 350, SCALE_MEDIUM  	; WIDGET_POSITION_RHYTHM_UP
PositionAndScale 560, 404, SCALE_MEDIUM  	; WIDGET_POSITION_RHYTHM_DOWN
PositionAndScale 512, 377, SCALE_MEDIUM  	; WIDGET_POSITION_RHYTHM_LEFT
PositionAndScale 607, 377, SCALE_MEDIUM  	; WIDGET_POSITION_RHYTHM_RIGHT

PositionAndScale 320, 380, SCALE_LARGEST	; WIDGET_POSITION_RHYTHM_SELECT
PositionAndScale 607, 310, 20, 20     		; WIDGET_POSITION_RHYTHM_EXIT

PositionAndScale 90, 18, 81, 13				; WIDGET_POSITION_PLAYER_SCORE
PositionAndScale 550, 18, 81, 13			; WIDGET_POSITION_OPPOSITION_SCORE

PositionAndScale 430, 53, 38, 30			; WIDGET_POSITION_GANG_REGION

PositionAndScale 412, 71, SCALE_SMALL 		; WIDGET_POSITION_NEGATIVE
PositionAndScale 458, 71, SCALE_SMALL 		; WIDGET_POSITION_POSITIVE

PositionAndScale 160, 224, 120, 120			; WIDGET_POSITION_COLOR_PICKER

PositionAndScale 217, 214, 34, 34       	; WIDGET_POSITION_WOF_FIRST_BET 
PositionAndScale 353, 165, 28, 28       	; WIDGET_POSITION_WOF_SECOND_BET
PositionAndScale 463, 127, SCALE_MEDIUM 	; WIDGET_POSITION_WOF_THIRD_BET 
PositionAndScale 270, 310, 40, 40       	; WIDGET_POSITION_WOF_FOURTH_BET
PositionAndScale 423, 242, 33, 33       	; WIDGET_POSITION_WOF_FIFTH_BET 
PositionAndScale 544, 190, SCALE_LARGE  	; WIDGET_POSITION_WOF_SIXTH_BET 

PositionAndScale 406 410, 25, 25  			; WIDGET_POSITION_VIDEO_POKER_ADD_COIN
PositionAndScale 218, 410, 25, 25  			; WIDGET_POSITION_VIDEO_POKER_REMOVE_COIN

PositionAndScale 100, 353, 47, 24			; WIDGET_POSITION_VIDEO_POKER_HOLD_FIRST_CARD
PositionAndScale 210, 353, 47, 24  			; WIDGET_POSITION_VIDEO_POKER_HOLD_SECOND_CARD
PositionAndScale 320, 353, 47, 24  			; WIDGET_POSITION_VIDEO_POKER_HOLD_THIRD_CARD
PositionAndScale 430, 353, 47, 24  			; WIDGET_POSITION_VIDEO_POKER_HOLD_FOURTH_CARD
PositionAndScale 540, 353, 47, 24  			; WIDGET_POSITION_VIDEO_POKER_HOLD_FIFTH_CARD

PositionAndScale 100, 255, 47, 64			; WIDGET_POSITION_VIDEO_POKER_HOLD_FIRST_CARD_REGION
PositionAndScale 210, 255, 47, 64  			; WIDGET_POSITION_VIDEO_POKER_HOLD_SECOND_CARD_REGION
PositionAndScale 320, 255, 47, 64 			; WIDGET_POSITION_VIDEO_POKER_HOLD_THIRD_CARD_REGION
PositionAndScale 430, 255, 47, 64  			; WIDGET_POSITION_VIDEO_POKER_HOLD_FOURTH_CARD_REGION
PositionAndScale 540, 255, 47, 64 			; WIDGET_POSITION_VIDEO_POKER_HOLD_FIFTH_CARD_REGION

PositionAndScale 490, 413, 40, 40  			; WIDGET_POSITION_VIDEO_POKER_EXIT
PositionAndScale 580, 413, 50, 40  			; WIDGET_POSITION_VIDEO_POKER_DEAL


PositionAndScale 225, 164, 170, 24  		; WIDGET_POSITION_ITB_FIRST_HORSE
PositionAndScale 225, 214, 170, 24 			; WIDGET_POSITION_ITB_SECOND_HORSE
PositionAndScale 225, 264, 170, 24 			; WIDGET_POSITION_ITB_THIRD_HORSE
PositionAndScale 225, 314, 170, 24 			; WIDGET_POSITION_ITB_FOURTH_HORSE
PositionAndScale 225, 364, 170, 24 			; WIDGET_POSITION_ITB_FIFTH_HORSE
PositionAndScale 448, 200, 36, 18 			; WIDGET_POSITION_ITB_FIRST_BET
PositionAndScale 530, 200, 36, 18 			; WIDGET_POSITION_ITB_SECOND_BET
PositionAndScale 448, 240, 36, 18 			; WIDGET_POSITION_ITB_THIRD_BET
PositionAndScale 530, 240, 36, 18 			; WIDGET_POSITION_ITB_FOURTH_BET
PositionAndScale 448, 280, 36, 18 			; WIDGET_POSITION_ITB_FIFTH_BET
PositionAndScale 530, 280, 36, 18 			; WIDGET_POSITION_ITB_SIXTH_BET
PositionAndScale 448, 320, 36, 18 			; WIDGET_POSITION_ITB_SEVENTH_BET
PositionAndScale 530, 320, 36, 18 			; WIDGET_POSITION_ITB_EIGHTH_BET
PositionAndScale 488, 363, 80, 18 			; WIDGET_POSITION_ITB_PLACE_BET
PositionAndScale 320, 430, 28, 28 			; WIDGET_POSITION_ITB_EXIT
				
PositionAndScale 320, 224, 260, 164 		; WIDGET_POSITION_MAP

PositionAndScale 598, 404, 65, 44			; WIDGET_POSITION_ADAPTED_DRIVE

PositionAndScale 545, 60, 80,  47   		; WIDGET_POSITION_PLAYER_INFO 
PositionAndScale 68,  60, 46,  46   		; WIDGET_POSITION_RADAR

PositionAndScale 200, 75, 60, 60	  		; WIDGET_POSITION_HELP_TEXT                         //VDGD EDIT - Was PositionAndScale 220, 40, 100, 30

PositionAndScale 320, 65, 90, 50   		    ; WIDGET_POSITION_HELP_TEXT_ALT_SHOPS

PositionAndScale 130, 433, 130, 15  		; WIDGET_POSITION_SWIPE_RADIO
PositionAndScale 105, 224, 105, 448  		; WIDGET_POSITION_PED_MOVE

PositionAndScale 105, 358, 105, 90  		; WIDGET_POSITION_VEHICLE_FLICK
         
PositionAndScale 320, 224, 320, 224  		; WIDGET_POSITION_LOOK

PositionAndScale 320, 48, 80, 25 			; WIDGET_POSITION_MISSION_TIMERS
PositionAndScale 320, 58, 80, 35  			; WIDGET_POSITION_RACING
PositionAndScale 320, 200, 100, 95  		; WIDGET_POSITION_RACE_RESULTS

PositionAndScale 320, 215, 150, 95  		; WIDGET_POSITION_HORSE_RESULTS

PositionAndScale 85, 328, 75, 110 			; WIDGET_POSITION_WAGER
PositionAndScale 100, 36, 90, 26 			; WIDGET_POSITION_POOL

PositionAndScale 320, 210, 100, 14  	    ; WIDGET_POSITION_POKER_PAYOUT

PositionAndScale 320, 85, 100, 60  			; WIDGET_POSITION_VITAL_STATS

PositionAndScale 200, 242, 100, 15  		; WIDGET_POSITION_AIRPORT_LEFT
PositionAndScale 437, 242, 100, 15  		; WIDGET_POSITION_AIRPORT_RIGHT


; Gambling

PositionAndScale 592, 345, SCALE_SMALL  	; WIDGET_POSITION_PLACE_BET                             //VGD EDIT - WAS PositionAndScale 605, 355, SCALE_MEDIUM                         //handbrake
PositionAndScale 539, 345, SCALE_SMALL  	; WIDGET_POSITION_REMOVE_BET                            //VGD EDIT - Was PositionAndScale 550, 355, SCALE_MEDIUM                        //vehicle shoot
PositionAndScale 592, 390, SCALE_SMALL  	; WIDGET_POSITION_GAMBLING_CONTINUE                     //VGD EDIT - was PositionAndScale 605, 410, SCALE_MEDIUM                        //accel 
PositionAndScale 592, 300, SCALE_SMALL  	; WIDGET_POSITION_MINIGAME_CANCEL                       //VGD EDIT - Was PositionAndScale 612, 190, SCALE_SMALL                         //enter car

PositionAndScale 539, 345, SCALE_SMALL 	    ; WIDGET_POSITION_BLACK_JACK_SPLIT                      //VGD edit - was PositionAndScale 550, 355, SCALE_MEDIUM                        //Vehicle shoot
PositionAndScale 539, 390, SCALE_SMALL 	    ; WIDGET_POSITION_BLACK_JACK_DOUBLE                     //VGD EDIT - was PositionAndScale 550, 410, SCALE_MEDIUM                        //brake
PositionAndScale 592, 390, SCALE_SMALL   	; WIDGET_POSITION_BLACK_JACK_HIT                        //VGD EDIT - Was PositionAndScale 605, 410, SCALE_MEDIUM                        //accel
PositionAndScale 592, 345, SCALE_SMALL 	    ; WIDGET_POSITION_BLACK_JACK_STAND                      //VGD Edit - PositionAndScale 605, 355, SCALE_MEDIUM                            //handbrake

PositionAndScale 545, 170, 100, 90			; WIDGET_POSITION_TATTOO_PREVIEW

PositionAndScale 320, 414, 80, 12			; WIDGET_POSITION_SAVE_NOTIFICATION

PositionAndScale 475, 50, 9,  9   		    ; WIDGET_POSITION_REPLAY

PositionAndScale 70,  200, 60,  30          ; WIDGET_POSITION_PAGER
PositionAndScale 601, 395,  15,  15  		; WIDGET_POSITION_ACCELERATE_BRAKE
PositionAndScale 150,  60, 50,  50     		; WIDGET_POSITION_CYCLE_LAYOUT
PositionAndScale 605, 389, 10,  10     		; WIDGET_POSITION_COMBINED_HANDBRAKE
PositionAndScale 104, 317, 35,  25     		; WIDGET_POSITION_STEERING_WHEEL

PositionAndScale 606, 387, SCALE_SMALL		; WIDGET_POSITION_ROUND2_HANDBRAKE
PositionAndScale 500, 317, 105, 90 			; WIDGET_POSITION_ROUND2_RIGHT_HAND_ACCEL
PositionAndScale 550, 300, 15,  100     	; WIDGET_POSITION_ACCELERATE_BRAKE_SLIDER

PositionAndScale 325, 224, 80, 80 			; WIDGET_POSITION_HORN_REGION
PositionAndScale 535, 390, SCALE_LARGE  	; WIDGET_POSITION_RESUME_TEXT

; VGD

PositionAndScale 78,  255, SCALE_SMALL		; WIDGET_POSITION_SWIPE_DIRECTION                      //VGD EDIT - Was PositionAndScale 78,  240, SCALE_MEDIUM	
PositionAndScale 592, 255, SCALE_SMALL 	; WIDGET_POSITION_OPEN_WEAPON_WHEEL
PositionAndScale 592, 255, SCALE_SMALL  	; WIDGET_POSITION_OPEN_RADIO_WHEEL