
; Default touch controls. Whitespace and comments are allowed here.

; The positions don't need to be in any order, but the ID (i.e. WIDGET_POSITION_HOME)
; must be present so the game can know what widget you are talking about.

; Positions for the widgets (in 640x448 space): Format is OriginX, OriginY, ScaleX, ScaleY 
;                                                      or OriginX, OriginY, SCALE (for round buttons).


; On Foot

PositionAndScale 538, 195, SCALE_SMALL  ; WIDGET_POSITION_PHONE                                             //VGD EDIT - Was PositionAndScale 554, 195, SCALE_SMALLER

PositionAndScale 595, 260, SCALE_SMALL  ; WIDGET_POSITION_ENTER_CAR                                         //VGD EDIT  was PositionAndScale 607, 259, SCALE_MEDIUM
PositionAndScale 595, 325, SCALE_SMALL ; WIDGET_POSITION_TARGETING_AND_ATTACK                               //VGD EDIT - Was PositionAndScale 607, 321, SCALE_MEDIUM 
PositionAndScale 538, 325, SCALE_SMALL  ; WIDGET_POSITION_VC_SHOOT                                          //VGD EDIT - Was PositionAndScale 553, 321, SCALE_MEDIUM
PositionAndScale 31,  245, SCALE_SMALL  ; WIDGET_POSITION_VC_SHOOT_ALT                                      //VGD EDIT - Was PositionAndScale 31,  247, SCALE_MEDIUM
PositionAndScale 595, 34,  SCALE_SMALL  ; WIDGET_POSITION_SKIP_CUTSCENE
PositionAndScale 538, 325, SCALE_SMALL   ; WIDGET_POSITION_RESUME_CUTSCENE
PositionAndScale 29,  100, SCALE_SMALL  ; WIDGET_POSITION_MISSION_CANCEL_ALT
PositionAndScale 538, 195, SCALE_SMALL  ; WIDGET_POSITION_MISSION_START_AND_MISSION_CANCEL                  //VGD EDIT - Was PositionAndScale 150, 50,  SCALE_MEDIUM

PositionAndScale 595, 390, SCALE_SMALL   ; WIDGET_POSITION_BUTTON_SPRINT_AND_SWIM                           //VGD EDIT - Was PositionAndScale 603, 390, SCALE_LARGE

; In Vehicle

PositionAndScale 595, 42,  SCALE_SMALL 		; WIDGET_POSITION_HORN_ALT                                       //VGD EDIT was PositionAndScale 618, 42,  SCALE_SMALL 
PositionAndScale 565, 220, SCALE_SMALL     ; WIDGET_POSITION_HORN                                         //VGD EDIT - Was PositionAndScale 554, 195, SCALE_MEDIUM 
PositionAndScale 595, 195, SCALE_SMALL     ; WIDGET_POSITION_CAM_TOGGLE                                   //VGD EDIT - Was PositionAndScale 607, 195, SCALE_MEDIUM 

PositionAndScale 538, 325, SCALE_SMALL 	; WIDGET_POSITION_CAR_SHOOT                                     //VGD EDIT - Was PositionAndScale 554, 321, SCALE_MEDIUM


PositionAndScale 41,  220, SCALE_SMALL	; WIDGET_POSITION_VEHICLE_SHOOT_LEFT                                //VGD EDIT - Was PositionAndScale 41,  195, SCALE_MEDIUM
PositionAndScale 93,  220, SCALE_SMALL	; WIDGET_POSITION_VEHICLE_SHOOT_RIGHT                               //VGD EDIT - Was PositionAndScale 93,  195, SCALE_MEDIUM	

PositionAndScale 595, 325, SCALE_SMALL 	; WIDGET_POSITION_HANDBRAKE_AND_AIR_SHOOT                           //VGD EDIT - Was PositionAndScale 607, 321, SCALE_MEDIUM 
PositionAndScale 538, 260, SCALE_SMALL 	; WIDGET_POSITION_HYDRAULICS                                        //VGD EDIT - Was PositionAndScale 554, 256, SCALE_MEDIUM

PositionAndScale 595, 390, SCALE_SMALL 		; WIDGET_POSITION_ACCELERATE                                    //VGD EDIT - was PositionAndScale 602, 390, SCALE_LARGE
PositionAndScale 541, 390, SCALE_SMALL 		; WIDGET_POSITION_BRAKE                                         //VGD EDIT - Was PositionAndScale 541, 390, SCALE_LARGE
PositionAndScale 36,  390, SCALE_SMALL 		; WIDGET_POSITION_VEHICLE_STEER_LEFT                            //VGD EDIT - Was PositionAndScale 36,  390, SCALE_LARGE
PositionAndScale 106,  390, SCALE_SMALL 		; WIDGET_POSITION_VEHICLE_STEER_RIGHT                       //VGD EDIT - was PositionAndScale 99,  390, SCALE_LARGE


; Misc									
PositionAndScale 90, 238, 80, 80            ; WIDGET_POSITION_THUMB_CIRCLE

PositionAndScale 55, 265, 16, 75   	        ; WIDGET_POSITION_TAP_METER
PositionAndScale 55, 405, SCALE_MEDIUM    	; WIDGET_POSITION_TAP_METER_BUTTON 

PositionAndScale 240, 424, SCALE_SMALL 		; WIDGET_POSITION_NEGATIVE
PositionAndScale 390, 424, SCALE_SMALL 		; WIDGET_POSITION_POSITIVE

PositionAndScale 565, 385, 45, 40  	    	; WIDGET_POSITION_POOL_ENGLISH 

PositionAndScale 565, 425,  25,  25   		; WIDGET_POSITION_ARCADE_BUTTON
PositionAndScale 287, 420,  30,  30    	    ; WIDGET_POSITION_ARCADE_POWER_OFF
PositionAndScale 353, 420,  30,  30     	; WIDGET_POSITION_ARCADE_RESET
PositionAndScale 80, 397,  80,  60    	    ; WIDGET_POSITION_ARCADE_JOYSTICK

PositionAndScale 36,  390, SCALE_SMALL  	; WIDGET_POSITION_RACE_LEFT          //VGD EDIT -Was PositionAndScale 26,  230, SCALE_MEDIUM
PositionAndScale 106,  390, SCALE_SMALL  	; WIDGET_POSITION_RACE_RIGHT         //VGD EDIT - Was  PositionAndScale 614, 230, SCALE_MEDIUM   

PositionAndScale 595, 390, SCALE_SMALL  	; WIDGET_POSITION_STORE_ACCEPT                              //VGD EDIT - was PositionAndScale 535, 405, SCALE_LARGE              //accel
PositionAndScale 595, 260, SCALE_SMALL  	; WIDGET_POSITION_STORE_CANCEL                              //VGD EDIT was PositionAndScale 600, 405, SCALE_LARGE               //enter car
PositionAndScale 595, 390, SCALE_SMALL  	; WIDGET_POSITION_STORE_BUY                                 //VGD EDIT - Was PositionAndScale 535, 405, SCALE_LARGE             //accel

PositionAndScale 320, 220, 160, 160 		; WIDGET_POSITION_STEERING_SELECTION
PositionAndScale 320, 220, 160, 160 		; WIDGET_POSITION_TOUCH_LAYOUT_SELECTION

PositionAndScale 275, 387, 35, 35      		; WIDGET_POSITION_SCHOOL_EXIT

PositionAndScale 595, 390, SCALE_SMALL    ; WIDGET_POSITION_SCHOOL_CONTINUE                             //VGD EDIT - Was PositionAndScale 607, 410, SCALE_MEDIUM            //Accel 

PositionAndScale 445, 388, 9, 9 			; WIDGET_POSITION_SCHOOL_LEFT
PositionAndScale 475, 388, 9, 9		  		; WIDGET_POSITION_SCHOOL_RIGHT
PositionAndScale 180, 387, 35, 35       	; WIDGET_POSITION_SCHOOL_START

PositionAndScale 320, 80,  300, 44			; WIDGET_POSITION_SCHOOL_TITLE_BACKGROUND

PositionAndScale 320, 145, 119, 50			; WIDGET_POSITION_SCHOOL_AWARD
PositionAndScale 320, 160, 119, 35			; WIDGET_POSITION_SCHOOL_RESULTS
PositionAndScale 320, 211, 119, 15			; WIDGET_POSITION_SCHOOL_FRAME_ONE
PositionAndScale 320, 242, 119, 15			; WIDGET_POSITION_SCHOOL_FRAME_TWO
PositionAndScale 320, 273, 119, 15			; WIDGET_POSITION_SCHOOL_FRAME_THREE
PositionAndScale 320, 304, 119, 15			; WIDGET_POSITION_SCHOOL_FRAME_FOUR

PositionAndScale 538, 325, SCALE_SMALL 	    ; WIDGET_POSITION_BASKETBALL_TRICK                        //VGD EDIT - Was PositionAndScale 520, 320, SCALE_MEDIUM   //Vehicle shoot
PositionAndScale 595, 325, SCALE_SMALL   	; WIDGET_POSITION_BASKETBALL_SHOOT                        //VGD EDTI - Was PositionAndScale 575, 320, SCALE_MEDIUM   //handbrake

PositionAndScale 345, 350, 150, 75       	; WIDGET_POSITION_BLACK_JACK_REGION
PositionAndScale 330, 400, 120, 40       	; WIDGET_POSITION_BLACK_JACK_SLIDER

PositionAndScale 560, 345, SCALE_MEDIUM  	; WIDGET_POSITION_RHYTHM_UP
PositionAndScale 560, 409, SCALE_MEDIUM  	; WIDGET_POSITION_RHYTHM_DOWN
PositionAndScale 512, 377, SCALE_MEDIUM  	; WIDGET_POSITION_RHYTHM_LEFT
PositionAndScale 607, 377, SCALE_MEDIUM  	; WIDGET_POSITION_RHYTHM_RIGHT

PositionAndScale 320, 224, SCALE_LARGE  	; WIDGET_POSITION_RHYTHM_SELECT
PositionAndScale 611, 295, 20, 20     		; WIDGET_POSITION_RHYTHM_EXIT

PositionAndScale 90, 18, 81, 13				; WIDGET_POSITION_PLAYER_SCORE                          
PositionAndScale 550, 18, 81, 13			; WIDGET_POSITION_OPPOSITION_SCORE                      

PositionAndScale 430, 55, 48, 42			; WIDGET_POSITION_GANG_REGION

PositionAndScale 160, 254, 180, 180			; WIDGET_POSITION_COLOR_PICKER

PositionAndScale 232, 210, 36, 36  			; WIDGET_POSITION_WOF_FIRST_BET 
PositionAndScale 348, 158, 32, 32  			; WIDGET_POSITION_WOF_SECOND_BET
PositionAndScale 438, 115,  28, 28  		; WIDGET_POSITION_WOF_THIRD_BET 
PositionAndScale 280, 315, 43, 43  			; WIDGET_POSITION_WOF_FOURTH_BET
PositionAndScale 403, 247, 37, 37  			; WIDGET_POSITION_WOF_FIFTH_BET 
PositionAndScale 504, 185, 33, 33  			; WIDGET_POSITION_WOF_SIXTH_BET 

PositionAndScale 406 410, 25, 25  			; WIDGET_POSITION_VIDEO_POKER_ADD_COIN
PositionAndScale 218, 410, 25, 25  			; WIDGET_POSITION_VIDEO_POKER_REMOVE_COIN

PositionAndScale 100, 353, 47, 24			; WIDGET_POSITION_VIDEO_POKER_HOLD_FIRST_CARD
PositionAndScale 210, 353, 47, 24  			; WIDGET_POSITION_VIDEO_POKER_HOLD_SECOND_CARD
PositionAndScale 320, 353, 47, 24  			; WIDGET_POSITION_VIDEO_POKER_HOLD_THIRD_CARD
PositionAndScale 430, 353, 47, 24  			; WIDGET_POSITION_VIDEO_POKER_HOLD_FOURTH_CARD
PositionAndScale 540, 353, 47, 24  			; WIDGET_POSITION_VIDEO_POKER_HOLD_FIFTH_CARD

PositionAndScale 100, 255, 47, 64			; WIDGET_POSITION_VIDEO_POKER_HOLD_FIRST_CARD_REGION
PositionAndScale 210, 255, 47, 64  			; WIDGET_POSITION_VIDEO_POKER_HOLD_SECOND_CARD_REGION
PositionAndScale 320, 255, 47, 64 			; WIDGET_POSITION_VIDEO_POKER_HOLD_THIRD_CARD_REGION
PositionAndScale 430, 255, 47, 64  			; WIDGET_POSITION_VIDEO_POKER_HOLD_FOURTH_CARD_REGION
PositionAndScale 540, 255, 47, 64 			; WIDGET_POSITION_VIDEO_POKER_HOLD_FIFTH_CARD_REGION

PositionAndScale 490, 413, 40, 40  			; WIDGET_POSITION_VIDEO_POKER_EXIT
PositionAndScale 580, 413, 50, 40  			; WIDGET_POSITION_VIDEO_POKER_DEAL


PositionAndScale 225, 164, 170, 24  		; WIDGET_POSITION_ITB_FIRST_HORSE
PositionAndScale 225, 214, 170, 24 			; WIDGET_POSITION_ITB_SECOND_HORSE
PositionAndScale 225, 264, 170, 24 			; WIDGET_POSITION_ITB_THIRD_HORSE
PositionAndScale 225, 314, 170, 24 			; WIDGET_POSITION_ITB_FOURTH_HORSE
PositionAndScale 225, 364, 170, 24 			; WIDGET_POSITION_ITB_FIFTH_HORSE
PositionAndScale 448, 200, 36, 18 			; WIDGET_POSITION_ITB_FIRST_BET
PositionAndScale 530, 200, 36, 18 			; WIDGET_POSITION_ITB_SECOND_BET
PositionAndScale 448, 240, 36, 18 			; WIDGET_POSITION_ITB_THIRD_BET
PositionAndScale 530, 240, 36, 18 			; WIDGET_POSITION_ITB_FOURTH_BET
PositionAndScale 448, 280, 36, 18 			; WIDGET_POSITION_ITB_FIFTH_BET
PositionAndScale 530, 280, 36, 18 			; WIDGET_POSITION_ITB_SIXTH_BET
PositionAndScale 448, 320, 36, 18 			; WIDGET_POSITION_ITB_SEVENTH_BET
PositionAndScale 530, 320, 36, 18 			; WIDGET_POSITION_ITB_EIGHTH_BET
PositionAndScale 488, 363, 80, 18 			; WIDGET_POSITION_ITB_PLACE_BET
PositionAndScale 320, 430, 28, 28 			; WIDGET_POSITION_ITB_EXIT


PositionAndScale 320, 224, 260, 164  		; WIDGET_POSITION_MAP

PositionAndScale 575, 400, 65, 48	 		; WIDGET_POSITION_ADAPTED_DRIVE

PositionAndScale 545, 62, 75,  45    		; WIDGET_POSITION_PLAYER_INFO                       //VGD EDIT - Was PositionAndScale 555, 62, 75,  45 
PositionAndScale 75,  60, 45,  45    		; WIDGET_POSITION_RADAR                             //VGD EDIT - WAs PositionAndScale 50,  60, 45,  45

PositionAndScale 215, 40, 80, 30   		    ; WIDGET_POSITION_HELP_TEXT                         //VGD EDIT - WAs PositionAndScale 215, 40, 100, 30
PositionAndScale 320, 65, 90, 50   		    ; WIDGET_POSITION_HELP_TEXT_ALT_SHOPS

PositionAndScale 130, 423, 130, 25   		; WIDGET_POSITION_SWIPE_RADIO
PositionAndScale 120, 224, 120, 448   		; WIDGET_POSITION_PED_MOVE

PositionAndScale 90,  358, 90,  90   		; WIDGET_POSITION_VEHICLE_FLICK
        
PositionAndScale 320, 224, 320, 224  		; WIDGET_POSITION_LOOK

PositionAndScale 320, 48, 60, 35  			; WIDGET_POSITION_MISSION_TIMERS
PositionAndScale 320, 58, 60, 35  			; WIDGET_POSITION_RACING
PositionAndScale 320, 200, 100, 100  		; WIDGET_POSITION_RACE_RESULTS
PositionAndScale 320, 200, 100, 95  		; WIDGET_POSITION_HORSE_RESULTS
PositionAndScale 70, 318, 60, 120 			; WIDGET_POSITION_WAGER
PositionAndScale 100, 36, 90, 26 			; WIDGET_POSITION_POOL

PositionAndScale 320, 210, 80, 14  			; WIDGET_POSITION_POKER_PAYOUT

PositionAndScale 320, 85, 100, 60  			; WIDGET_POSITION_VITAL_STATS

PositionAndScale 213, 242, 100, 15  		; WIDGET_POSITION_AIRPORT_LEFT
PositionAndScale 423, 242, 100, 15  		; WIDGET_POSITION_AIRPORT_RIGHT

; Gambling

PositionAndScale 595, 325, SCALE_SMALL  	; WIDGET_POSITION_PLACE_BET                                     //VGD EDIT - Was PositionAndScale 605, 335, SCALE_MEDIUM            //handbrake
PositionAndScale 538, 325, SCALE_SMALL  	; WIDGET_POSITION_REMOVE_BET                                    //VGD EDIT - Was PositionAndScale 550, 335, SCALE_MEDIUM            //vehicle shoot
PositionAndScale 595, 390, SCALE_SMALL  	; WIDGET_POSITION_GAMBLING_CONTINUE                             //VGD EDIT - Was PositionAndScale 605, 405, SCALE_MEDIUM            //accel
PositionAndScale 595, 260, SCALE_SMALL  	; WIDGET_POSITION_MINIGAME_CANCEL                               //VGD EDIT - was PositionAndScale 607, 145, SCALE_SMALL             //enter car

PositionAndScale 538, 325, SCALE_SMALL 	; WIDGET_POSITION_BLACK_JACK_SPLIT                              //VGD EDIT - Was PositionAndScale 550, 335, SCALE_MEDIUM                /vehicel shoot
PositionAndScale 541, 390, SCALE_SMALL 	; WIDGET_POSITION_BLACK_JACK_DOUBLE                             //VGD EDIT - Was PositionAndScale 550, 405, SCALE_MEDIUM                //brake
PositionAndScale 595, 390, SCALE_SMALL 	; WIDGET_POSITION_BLACK_JACK_HIT                                //VGD EDIT - Was PositionAndScale 605, 405, SCALE_MEDIUM                //accel
PositionAndScale 595, 325, SCALE_SMALL 	; WIDGET_POSITION_BLACK_JACK_STAND                              //VGD EDIT - Was PositionAndScale 605, 335, SCALE_MEDIUM                //handbrake

PositionAndScale 625, 190, 120, 105			; WIDGET_POSITION_TATTOO_PREVIEW

PositionAndScale 320, 414, 80, 12			; WIDGET_POSITION_SAVE_NOTIFICATION

PositionAndScale 475, 50, 9,  9    		; WIDGET_POSITION_REPLAY

PositionAndScale 70,  188, 60,  30           ; WIDGET_POSITION_PAGER                                    //VGD EIDT - Was PositionAndScale 70,  200, 60,  30
PositionAndScale 601, 395,  15,  15  		; WIDGET_POSITION_ACCELERATE_BRAKE
PositionAndScale 150,  60, 50,  50     		; WIDGET_POSITION_CYCLE_LAYOUT
PositionAndScale 607, 390, 10,  10     		; WIDGET_POSITION_COMBINED_HANDBRAKE
PositionAndScale 100, 317, 35,  25     		; WIDGET_POSITION_STEERING_WHEEL

PositionAndScale 606, 387, SCALE_SMALL		; WIDGET_POSITION_ROUND2_HANDBRAKE
PositionAndScale 500, 317, 105, 90			; WIDGET_POSITION_ROUND2_RIGHT_HAND_ACCEL
PositionAndScale 550, 300, 15,  100     	; WIDGET_POSITION_ACCELERATE_BRAKE_SLIDER

PositionAndScale 325, 224, 80, 80 			; WIDGET_POSITION_HORN_REGION
PositionAndScale 522, 390, SCALE_LARGE  	; WIDGET_POSITION_RESUME_TEXT                               //VGD EDIT - Was PositionAndScale 522, 390, SCALE_LARG

; VGD

PositionAndScale 75,  260, SCALE_SMALL		; WIDGET_POSITION_SWIPE_DIRECTION                       //VGD EDIT - Was PositionAndScale 77,  231, SCALE_MEDIUM	
PositionAndScale 595, 195, SCALE_SMALL      ; WIDGET_POSITION_OPEN_WEAPON_WHEEL  
PositionAndScale 595, 195, SCALE_SMALL     ; WIDGET_POSITION_OPEN_RADIO_WHEEL  